{% extends "base.html" %}

{% block content %}
    <div class="w3-container w3-light-grey">
    <h2 style="text-shadow:1px 1px 0 #444" align="center">{{ question_topic }}</h2>
        <h4 style="text-shadow:1px 1px 0 #444" align="center">{{ question_text }}</h4>
    <h6 style="text-shadow:1px 1px 0 #444" align="center">Asked by {{ request.user }} on {{ pub_date }}</h6>
    </div>
    {% if responses_list %}
 <ul>
      <div class="category" style="font-family:Courier"> Responses: </div>
 {% for response in  responses_list %}
      <blockquote>
        <p>{{ response.message_text }}</p>
          <footer> Likes: {{ response.like_counter }}</footer>
          <footer>Added by {{ response.user }}, {{ response.pub_date }}</footer>
          <div class="submit" ><a href="{% url 'vote' category_name question_id response.id '+' %}"> Vote up</a></div>
          <div class="submit" ><a href="{% url 'vote' category_name question_id response.id '-' %}">Vote down</a></div>
          <footer> Remember, you can vote only once and the decision is made forever. Just like in life. And of course if you added that response, you cannot like/dislike it.</footer>
      </blockquote>
 {% endfor %}
 </ul>
    {% else %}
    <h1>No responses</h1>
    {% endif %}
    <div class="col-sm-2"><div class="btn-login" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;
     border-bottom-left-radius: 10px; border-bottom-right-radius: 10px"> <a href="{% url 'new_response' question_id %}">Add Response</a></div></div>
 {% endblock %}