{%  load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href = {% static "StackLike/page_style.css" %} rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="row">
    <div class="col-sm-1"> <a href=""> <img src={% static 'StackLike/images/logo.png' %} style="width:120px;height:120px;"></a></div>
    <div class="col-sm-2"> <a class="whatever" href="" style="font-family:Courier; text-decoration:none">StackLike </a></div>
</div>
<hr>

{% block content %}
{% endblock %}