{%  load static %}
<body onload="display();" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href = {% static "StackLike/page_style.css" %} rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="row" style="background: linear-gradient(#cccccc, yellow)">
    <div class="col-sm-1"> <a href={% url 'home' %}> <img src={% static 'StackLike/images/logo.png' %} style="width:120px;height:120px;"></a></div>
    <div class="col-sm-2"> <a class="whatever" href="{% url 'home' %}" style="font-family:Courier;">StackLike </a></div>
    <div class="col-sm-9" style="text-align: right"> <a id="logout" class="btn-login" style=" margin-right: 5px;
     border-bottom-left-radius: 10px; border-bottom-right-radius: 10px" href="{% url 'logout' %}?next=/">Logout</a></div>
</div>

<script>
    function display() {
        if (!!document.getElementById("login-submit"))
            document.getElementById("logout").style.display = "none";
    }
</script>

</body>

{% block content %}
{% endblock %}
